@using MudBlazor.Example.Rapor.Client.Model
@inject ISnackbar Snackbar
@page "/"

<PageTitle>Home</PageTitle>

<MudGrid>
    @* filtre *@
    <MudItem md="12">
        <MudGrid>
            <MudItem md="2">
                <MudIconButton Icon="@Icons.Material.Filled.ArrowBack" Class="TitleButtonBack" Edge="Edge.Start" />
            </MudItem>
            <MudItem md="8">
                <h3 Class="d-flex align-center justify-center py-4">
                    Satın Alma Geçmişi
                </h3>
            </MudItem>
            <MudItem md="2">
                <MudIconButton Icon="@Icons.Material.Filled.FormatListBulleted" Class="TitleButtonFiltre" Edge="Edge.End" />
            </MudItem>
        </MudGrid>
    </MudItem>

    @* tarih *@
    <MudItem md="12" Style="padding-left:0px">
        <MudGrid>
            <MudItem md="6">
                <MudDatePicker Date="@_startDate"
                               Class="DatePicker"
                               Editable="true"
                               Underline="false" AdornmentIcon="@Icons.Material.Filled.KeyboardArrowRight" IconSize="Size.Large"
                               DateChanged="OnStartDateChange" />
            </MudItem>
            <MudItem md="6">
                <MudDatePicker Date="@_endDate"
                               Class="DatePicker"
                               Editable="true"
                               Underline="false" AdornmentIcon="@Icons.Material.Filled.KeyboardArrowRight" IconSize="Size.Large"
                               DateChanged="OnEndDateChange" />
            </MudItem>
        </MudGrid>
    </MudItem>

    @* plaka popup *@
    <MudItem md="12" Style="padding-left:0px">
        <div class="plateBody">
            @if (_plateList != null)
            {
                foreach (var item in this._plateList)
                {
                    <span class="itemPlate">@item</span>
                }
            }
            <MudIconButton Icon="@Icons.Material.Filled.KeyboardArrowRight" @onclick="PlatePopupOpen" Class="platePopupButton" />
        </div>
    </MudItem>

    @* Button hızlı tarih filtre*@
    <MudItem md="12" Style="padding-left:15px">
        <MudGrid>
            <MudItem md="3">
                <MudButton Variant="Variant.Outlined" Class="filterButton" OnClick="@((e)=> AddTime(-1))">Son 24 Saat</MudButton>
            </MudItem>
            <MudItem md="3">
                <MudButton Variant="Variant.Outlined" Class="filterButton" OnClick="@((e)=> AddTime(-7))">Son 7 Gün</MudButton>
            </MudItem>
            <MudItem md="3">
                <MudButton Variant="Variant.Outlined" Class="filterButton" OnClick="@((e)=> AddTime(-15))">Son 15 Gün</MudButton>
            </MudItem>
            <MudItem md="3">
                <MudButton Variant="Variant.Outlined" Class="filterButton" OnClick="@((e)=> AddTime(-30))">Son 30 Gün</MudButton>
            </MudItem>
        </MudGrid>
    </MudItem>

    @* xml e aktar *@
    <MudItem md="12" Style="padding-left:0px">
        <MudButton Class="xmlButton">XML Aktar</MudButton>
    </MudItem>

    @* list *@
    <MudItem md="12" Style="padding:0px">
        <MudDataGrid T="Sell" Items="@Elements" Filterable="false" SortMode="@SortMode.None"
                     GroupExpanded="false" FixedHeader="false"
                     Style="margin-top:50px">
            <Columns>
                <TemplateColumn CellClass="CellClass">
                    <CellTemplate>
                        <MudGrid>
                            @* sol sütun01 *@
                            <MudItem xs="6">
                                <div>
                                    <div class="itemTitle">
                                        TARİH
                                    </div>
                                    <div class="item borderRight1px">
                                        <span>@context.Item.CreatedDate.ToShortDateString()</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="itemTitle">
                                        MÜŞTERİ NO
                                    </div>
                                    <div class="item borderRight1px">
                                        <span>@context.Item.CustomerId</span>
                                    </div>
                                </div>
                            </MudItem>
                            @* sağ sütun01 *@
                            <MudItem xs="6">
                                <div>
                                    <div class="itemTitle">
                                        PLAKA
                                    </div>
                                    <div class="item">
                                        <span>@context.Item.Plate</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="itemTitle">
                                        LOKASYON
                                    </div>
                                    <div class="item">
                                        <span>@context.Item.Location</span>
                                    </div>
                                </div>
                            </MudItem>
                            @* sol sütun02 *@
                            <MudItem xs="6" Style="margin-top:10px">
                                <div>
                                    <div class="itemTitle">
                                        ÜRÜN
                                    </div>
                                    <div class="item borderRight1px">
                                        <span>@context.Item.ProductName</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="itemTitle">
                                        DURUM
                                    </div>
                                    <div class="item borderRight1px">
                                        <span>@context.Item.Status</span>
                                    </div>
                                </div>
                                <div>
                                    <div class="itemTitle">
                                        SİPARİŞ TİPİ
                                    </div>
                                    <div class="item borderRight1px">
                                        <span>@context.Item.OrderType</span>
                                    </div>
                                </div>
                            </MudItem>
                            @* sağ sütun02 *@
                            <MudItem xs="6" Style="margin-top:10px">
                                <div>
                                    <div class="itemTitle">
                                        İNDİRİM TUTARI
                                    </div>
                                    <div class="item">
                                        <span>
                                            @String.Format("{0:N2} ₺", context.Item.DiscountAmount)
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div class="itemTitle">
                                        TOPLAM ADET
                                    </div>
                                    <div class="item">
                                        <span>
                                            @String.Format("{0:N2} lt", context.Item.TotalPiece)
                                        </span>
                                    </div>
                                </div>
                                <div>
                                    <div class="itemTitle">
                                        TOPLAM TUTAR
                                    </div>
                                    <div class="item">
                                        <span>
                                            @String.Format("{0:N2} ₺", context.Item.TotalAmount)
                                        </span>
                                    </div>
                                </div>
                            </MudItem>
                        </MudGrid>
                    </CellTemplate>
                </TemplateColumn>
            </Columns>
        </MudDataGrid>
    </MudItem>

</MudGrid>

@code {
    private DateTime _startDate = new DateTime(2024, 10, 4);
    private DateTime _endDate = new DateTime(2024, 11, 4);
    private List<Sell> Elements = SellList.Sells;
    private List<string> _plateList = new();

    protected override async Task OnInitializedAsync()
    {
        SetSell();
    }

    public void AddTime(int day)
    {
        var date = DateTime.Now;
        _startDate = new DateTime(date.Year, date.Month, date.Day).AddDays(day);
        _endDate = new DateTime(date.Year, date.Month, date.Day);
    }
    public void SetFilter()
    {
        SetSell();
        Elements = Elements.Where(x =>
            x.CreatedDate >= _startDate &&
            x.CreatedDate < _endDate.AddDays(1)).ToList();
        if (_plateList.Count > 0)
            Elements = Elements.Where(x => _plateList.Contains(x.Plate)).ToList();
    }
    private void SetSell()
    {
        Elements = SellList.Sells;
    }
    public void OnStartDateChange(DateTime? newDate)
    {
        _startDate = newDate ?? _startDate;
        SetFilter();
    }
    public void OnEndDateChange(DateTime? newDate)
    {
        _endDate = newDate ?? _endDate;
        SetFilter();
    }

    [Inject]
    private IDialogService DialogService { get; set; } = default!;
    private async Task PlatePopupOpen()
    {
        var options = new DialogOptions { CloseOnEscapeKey = true };
        var result = await DialogService.Show<Layout.PlatePopupComponent>("Plaka seçiniz", options).Result;
        if (result.Data != null)
        {
            this._plateList = result.Data as List<string>;
            base.OnInitialized();
            SetFilter();
        }
    }
}

<style>

    .TitleButtonBack {
        background-color: black;
        color: white;
        height: 50px;
        width: 50px;
        left: 0px
    }

    .TitleButtonFiltre {
        background-color: white;
        color: black;
        height: 50px;
        width: 50px;
        right: 0px
    }

    .DatePicker {
        border: 1px solid;
        border-radius: 20px;
        padding: 10px 20px;
        color: black;
    }

    .filterButton {
        font-size: 13px;
        font-weight: bold;
        border-radius: 15px;
        text-transform: none;
        padding: 12px 8px;
    }

    .xmlButton {
        background-color: black;
        color: white;
        width: 100%;
        font-size: 22px;
        text-transform: none;
        border-radius: 20px;
        padding: 15px;
    }

    .itemTitle {
        width: 50%;
        float: left;
        font-weight: bold;
    }

    .item {
        width: 50%;
        float: left;
    }

        .item span {
            margin-left: 10px;
        }

    .borderRight1px {
        border-right: 1px solid;
    }

    .title {
        font-weight: bold;
        padding: 0px;
    }

    .mud-table-head {
        display: none !important;
    }


    .CellClass {
        border: 1px solid;
        border-color: black;
        border-radius: 20px;
    }

    .mud-table-body {
        border: none
    }

    .platePopupButton {
        margin-top: -12px;
        float: right
    }

    .plateBody {
        border: 1px solid;
        border-radius: 20px;
        width: 100%;
        height: 60px;
        padding-top: 18px;
    }

    .itemPlate {
        background-color: #c4c4c4;
        border-radius: 5px;
        margin: 10px;
        padding: 10px;
    }
</style>